body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    margin-left: 8px;
    font-size: 45px;
}

.first-heading {
    border-left: 5px solid #6346E0;
    line-height: 35px;
}

.title-span {
    color: #6346E0;
}

.flexible {
    display: flex;
}

.section1-div {
    width: 50%;
    padding: 3%;
    text-align: justify;
}

.section1-div img {
    width: 100%;
}

.hire-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 30px;
}

/*end first section*/

.experience {
    text-align: center;
    color: #6346E0;
}

.experiences {
    padding: 3%;
}

.exp-img {
    width: 30%;
}

h3 {
    color: #FC875D;
}

.experiences1 {
    background-color: #C8C7FF;
    margin: 2%;
    padding: 2%;
    border-radius: 30px;
}

.experiences2 {
    background-color: #FDEAD3;
    margin: 2%;
    padding: 2%;
    border-radius: 30px;
}

.experiences3 {
    background-color: #E9E9FF;
    margin: 2%;
    padding: 2%;
    border-radius: 30px;
}

.exp-text {
    text-align: justify;
}

/*end second section*/

.sec3-img {
    width: 100%;
    padding: 5%;
    margin-top: 25px;
}

.second-titles {
    line-height: 35px;
    color: #6346E0;
}

.section3-div {
    margin: auto;
    padding: 5%;
}

/*end third section*/

.sec4-img1 {
    width: 100%;

    margin-top: 25px;
}

.sec4-img {
    padding: 5%;
}

.sec4-p {
    text-align: justify;
}

/*end 4th section*/

footer {
    background-color: rgb(46, 46, 46);
}

.fot-title {
    color: #FC875D;
    text-align: center;
}

.foot-p {
    text-align: center;
    color: #6346E0;
}